
.App{
  background: rgb(239, 239, 239);
}

::-webkit-scrollbar{
  width: 6px;
  height: 50px;
}
::-webkit-scrollbar-thumb{
  background: rgb(123, 123, 123);
  border-radius: 20px;
  height: 50px;
}
::-webkit-scrollbar-thumb:hover{
  background:  #555;
}
